<!doctype html>
<html>
  <head>
    <title>Stratego</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>

    <h2 id="playerName1">Welcome!</h2>
    <h2 id="playerName2"></h2>
    <h2 id="startGame"></h2>

    <textarea id='textArea' width=50px height=25px autofocus=""></textarea></br>
    <button id="nameButton">test</button>
    <div id='gameBoard' hidden=true>
      <table>
        <tr>
          <td data-idx="1" data-idy='10'>1,10</td>
          <td data-idx="2" data-idy='10'>2,10</td>
          <td data-idx="3" data-idy='10'>3,10</td>
          <td data-idx="4" data-idy='10'>4,10</td>
          <td data-idx="5" data-idy='10'>5,10</td>
          <td data-idx="6" data-idy='10'>6,10</td>
          <td data-idx="7" data-idy='10'>7,10</td>
          <td data-idx="8" data-idy='10'>8,10</td>
          <td data-idx="9" data-idy='10'>8,10</td>
          <td data-idx="10" data-idy='10'>10,10</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='9'>1,9</td>
          <td data-idx="2" data-idy='9'>2,9</td>
          <td data-idx="3" data-idy='9'>3,9</td>
          <td data-idx="4" data-idy='9'>4,9</td>
          <td data-idx="5" data-idy='9'>5,9</td>
          <td data-idx="6" data-idy='9'>6,9</td>
          <td data-idx="7" data-idy='9'>7,9</td>
          <td data-idx="8" data-idy='9'>8,</td>
          <td data-idx="9" data-idy='9'>8,9</td>
          <td data-idx="10" data-idy='9'>10,9</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='8'>1,8</td>
          <td data-idx="2" data-idy='8'>2,8</td>
          <td data-idx="3" data-idy='8'>3,8</td>
          <td data-idx="4" data-idy='8'>4,8</td>
          <td data-idx="5" data-idy='8'>5,8</td>
          <td data-idx="6" data-idy='8'>6,8</td>
          <td data-idx="7" data-idy='8'>7,8</td>
          <td data-idx="8" data-idy='8'>8,8</td>
          <td data-idx="9" data-idy='8'>8,8</td>
          <td data-idx="10" data-idy='8'>10,8</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='7'>1,7</td>
          <td data-idx="2" data-idy='7'>2,7</td>
          <td data-idx="3" data-idy='7'>3,7</td>
          <td data-idx="4" data-idy='7'>4,7</td>
          <td data-idx="5" data-idy='7'>5,7</td>
          <td data-idx="6" data-idy='7'>6,7</td>
          <td data-idx="7" data-idy='7'>7,7</td>
          <td data-idx="8" data-idy='7'>8,7</td>
          <td data-idx="9" data-idy='7'>8,7</td>
          <td data-idx="10" data-idy='7'>10,7</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='6'>1,6</td>
          <td data-idx="2" data-idy='6'>2,6</td>
          <td data-idx="3" data-idy='6'>3,6</td>
          <td data-idx="4" data-idy='6'>4,6</td>
          <td data-idx="5" data-idy='6'>5,6</td>
          <td data-idx="6" data-idy='6'>6,6</td>
          <td data-idx="7" data-idy='6'>7,6</td>
          <td data-idx="8" data-idy='6'>8,6</td>
          <td data-idx="9" data-idy='6'>8,6</td>
          <td data-idx="10" data-idy='6'>10,6</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='5'>1,5</td>
          <td data-idx="2" data-idy='5'>2,5</td>
          <td data-idx="3" data-idy='5'>3,5</td>
          <td data-idx="4" data-idy='5'>4,5</td>
          <td data-idx="5" data-idy='5'>5,5</td>
          <td data-idx="6" data-idy='5'>6,5</td>
          <td data-idx="7" data-idy='5'>7,5</td>
          <td data-idx="8" data-idy='5'>8,5</td>
          <td data-idx="9" data-idy='5'>8,5</td>
          <td data-idx="10" data-idy='5'>10,5</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='4'>1,4</td>
          <td data-idx="2" data-idy='4'>2,4</td>
          <td data-idx="3" data-idy='4'>3,4</td>
          <td data-idx="4" data-idy='4'>4,4</td>
          <td data-idx="5" data-idy='4'>5,4</td>
          <td data-idx="6" data-idy='4'>6,4</td>
          <td data-idx="7" data-idy='4'>7,4</td>
          <td data-idx="8" data-idy='4'>8,4</td>
          <td data-idx="9" data-idy='4'>8,4</td>
          <td data-idx="10" data-idy='4'>10,4</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='3'>1,3</td>
          <td data-idx="2" data-idy='3'>2,3</td>
          <td data-idx="3" data-idy='3'>3,3</td>
          <td data-idx="4" data-idy='3'>4,3</td>
          <td data-idx="5" data-idy='3'>5,3</td>
          <td data-idx="6" data-idy='3'>6,3</td>
          <td data-idx="7" data-idy='3'>7,3</td>
          <td data-idx="8" data-idy='3'>8,3</td>
          <td data-idx="9" data-idy='3'>8,3</td>
          <td data-idx="10" data-idy='3'>10,3</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='2'>1,2</td>
          <td data-idx="2" data-idy='2'>2,2</td>
          <td data-idx="3" data-idy='2'>3,2</td>
          <td data-idx="4" data-idy='2'>4,2</td>
          <td data-idx="5" data-idy='2'>5,2</td>
          <td data-idx="6" data-idy='2'>6,2</td>
          <td data-idx="7" data-idy='2'>7,2</td>
          <td data-idx="8" data-idy='2'>8,2</td>
          <td data-idx="9" data-idy='2'>8,2</td>
          <td data-idx="10" data-idy='2'>10,2</td>
        </tr>
        <tr>
          <td data-idx="1" data-idy='1'>1,1</td>
          <td data-idx="2" data-idy='1'>2,1</td>
          <td data-idx="3" data-idy='1'>3,1</td>
          <td data-idx="4" data-idy='1'>4,1</td>
          <td data-idx="5" data-idy='1'>5,1</td>
          <td data-idx="6" data-idy='1'>6,1</td>
          <td data-idx="7" data-idy='1'>7,1</td>
          <td data-idx="8" data-idy='1'>8,1</td>
          <td data-idx="9" data-idy='1'>8,1</td>
          <td data-idx="10" data-idy='1'>10,1</td>
        </tr>
      </table>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script src="/css/main.css"></script>

  </body>
</html>
