<!-- Stratego, by heyMikeNauman -->

<!doctype html>
<html>
  <head>
    <title>Stratego</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>

  <body>
    <div class='banner'>
      <h2 id='playerName'>Welcome!</h2>
      <h2 id='gameMessage'>Please enter your name</h2>

      <textarea id='textArea' width=50px height=25px autofocus=""></textarea></br>
      <button id='nameButton'>Login</button>
      <button id='readyButton'>Ready</button>
    </div>

    <div id='row1'>
      <div id='gameBoard' hidden=true>
        <table>
          <tr>
            <td data-idx="1" data-idy='10' data-value=null></td>
            <td data-idx="2" data-idy='10' data-value=null></td>
            <td data-idx="3" data-idy='10' data-value=null></td>
            <td data-idx="4" data-idy='10' data-value=null></td>
            <td data-idx="5" data-idy='10' data-value=null></td>
            <td data-idx="6" data-idy='10' data-value=null></td>
            <td data-idx="7" data-idy='10' data-value=null></td>
            <td data-idx="8" data-idy='10' data-value=null></td>
            <td data-idx="9" data-idy='10' data-value=null></td>
            <td data-idx="10" data-idy='10' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='9' data-value=null></td>
            <td data-idx="2" data-idy='9' data-value=null></td>
            <td data-idx="3" data-idy='9' data-value=null></td>
            <td data-idx="4" data-idy='9' data-value=null></td>
            <td data-idx="5" data-idy='9' data-value=null></td>
            <td data-idx="6" data-idy='9' data-value=null></td>
            <td data-idx="7" data-idy='9' data-value=null></td>
            <td data-idx="8" data-idy='9' data-value=null></td>
            <td data-idx="9" data-idy='9' data-value=null></td>
            <td data-idx="10" data-idy='9' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='8' data-value=null></td>
            <td data-idx="2" data-idy='8' data-value=null></td>
            <td data-idx="3" data-idy='8' data-value=null></td>
            <td data-idx="4" data-idy='8' data-value=null></td>
            <td data-idx="5" data-idy='8' data-value=null></td>
            <td data-idx="6" data-idy='8' data-value=null></td>
            <td data-idx="7" data-idy='8' data-value=null></td>
            <td data-idx="8" data-idy='8' data-value=null></td>
            <td data-idx="9" data-idy='8' data-value=null></td>
            <td data-idx="10" data-idy='8' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='7' data-value=null></td>
            <td data-idx="2" data-idy='7' data-value=null></td>
            <td data-idx="3" data-idy='7' data-value=null></td>
            <td data-idx="4" data-idy='7' data-value=null></td>
            <td data-idx="5" data-idy='7' data-value=null></td>
            <td data-idx="6" data-idy='7' data-value=null></td>
            <td data-idx="7" data-idy='7' data-value=null></td>
            <td data-idx="8" data-idy='7' data-value=null></td>
            <td data-idx="9" data-idy='7' data-value=null></td>
            <td data-idx="10" data-idy='7' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='6' data-value=null></td>
            <td data-idx="2" data-idy='6' data-value=null></td>
            <td data-idx="3" data-idy='6' data-value=null></td>
            <td data-idx="4" data-idy='6' data-value=null></td>
            <td data-idx="5" data-idy='6' data-value=null></td>
            <td data-idx="6" data-idy='6' data-value=null></td>
            <td data-idx="7" data-idy='6' data-value=null></td>
            <td data-idx="8" data-idy='6' data-value=null></td>
            <td data-idx="9" data-idy='6' data-value=null></td>
            <td data-idx="10" data-idy='6' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='5' data-value=null></td>
            <td data-idx="2" data-idy='5' data-value=null></td>
            <td data-idx="3" data-idy='5' data-value=null></td>
            <td data-idx="4" data-idy='5' data-value=null></td>
            <td data-idx="5" data-idy='5' data-value=null></td>
            <td data-idx="6" data-idy='5' data-value=null></td>
            <td data-idx="7" data-idy='5' data-value=null></td>
            <td data-idx="8" data-idy='5' data-value=null></td>
            <td data-idx="9" data-idy='5' data-value=null></td>
            <td data-idx="10" data-idy='5' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='4' data-value=null></td>
            <td data-idx="2" data-idy='4' data-value=null></td>
            <td data-idx="3" data-idy='4' data-value=null></td>
            <td data-idx="4" data-idy='4' data-value=null></td>
            <td data-idx="5" data-idy='4' data-value=null></td>
            <td data-idx="6" data-idy='4' data-value=null></td>
            <td data-idx="7" data-idy='4' data-value=null></td>
            <td data-idx="8" data-idy='4' data-value=null></td>
            <td data-idx="9" data-idy='4' data-value=null></td>
            <td data-idx="10" data-idy='4' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='3' data-value=null></td>
            <td data-idx="2" data-idy='3' data-value=null></td>
            <td data-idx="3" data-idy='3' data-value=null></td>
            <td data-idx="4" data-idy='3' data-value=null></td>
            <td data-idx="5" data-idy='3' data-value=null></td>
            <td data-idx="6" data-idy='3' data-value=null></td>
            <td data-idx="7" data-idy='3' data-value=null></td>
            <td data-idx="8" data-idy='3' data-value=null></td>
            <td data-idx="9" data-idy='3' data-value=null></td>
            <td data-idx="10" data-idy='3' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='2' data-value=null></td>
            <td data-idx="2" data-idy='2' data-value=null></td>
            <td data-idx="3" data-idy='2' data-value=null></td>
            <td data-idx="4" data-idy='2' data-value=null></td>
            <td data-idx="5" data-idy='2' data-value=null></td>
            <td data-idx="6" data-idy='2' data-value=null></td>
            <td data-idx="7" data-idy='2' data-value=null></td>
            <td data-idx="8" data-idy='2' data-value=null></td>
            <td data-idx="9" data-idy='2' data-value=null></td>
            <td data-idx="10" data-idy='2' data-value=null></td>
          </tr>
          <tr>
            <td data-idx="1" data-idy='1' data-value=null></td>
            <td data-idx="2" data-idy='1' data-value=null></td>
            <td data-idx="3" data-idy='1' data-value=null></td>
            <td data-idx="4" data-idy='1' data-value=null></td>
            <td data-idx="5" data-idy='1' data-value=null></td>
            <td data-idx="6" data-idy='1' data-value=null></td>
            <td data-idx="7" data-idy='1' data-value=null></td>
            <td data-idx="8" data-idy='1' data-value=null></td>
            <td data-idx="9" data-idy='1' data-value=null></td>
            <td data-idx="10" data-idy='1' data-value=null></td>
          </tr>
        </table>

      </div>

      <div id="rightMenu">
        <table>
          <tr>
            <td>
              <div class='gamePiece' data-rank='Marshal' data-pieceValue='1'>1</div>
            </td>
            <td>
              <div class='gamePiece' data-rank='General' data-pieceValue='2'>2</div>
            </td>
            <td>
              <div class='gamePiece' data-rank='Colonel' data-pieceValue='3'>3</div>
            </td>
          </tr>

          <tr>
            <td>
              <div class='gamePiece' data-rank='Major' data-pieceValue='4'>4</div>
            </td>
            <td>
              <div class='gamePiece' data-rank='Captain' data-pieceValue='5'>5</div>
            </td>
            <td>
              <div class='gamePiece' data-rank='Lieutenant' data-pieceValue='6'>6</div>
            </td>
          </tr>

          <tr>
            <td>
              <div class='gamePiece' data-rank='Sergeant' data-pieceValue='7'>7</div>
            </td>
            <td>
              <div class='gamePiece' data-rank='Miner' data-pieceValue='8'>8</div>
            </td>
            <td>
              <div class='gamePiece' data-rank='Scout' data-pieceValue='9'>9</div>
            </td>
          </tr>

          <tr>
            <td>
              <div class='gamePiece' data-rank='Spy' data-pieceValue='10'>Spy</div>
            </td>
            <td>
              <div class='gamePiece' data-rank='Flag' data-pieceValue='0'>Flag</div>
            </td>
            <td>
              <div class='gamePiece' data-rank='BOMB' data-pieceValue='-1'>Bomb!</div>
            </td>
          </tr>

        </table>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <script src="/css/main.css"></script>

  </body>
</html>
