/* heyMikeNauman  */
body {
  background-color: blue;
}

h2 {
  color: red;
}

td {
  width: 25px;
  height: 25px;
  color: black;
  background: lightyellow;
  text-align: center;
  /* only right and bottom so as not to double up on the borders per table cell */
  border: 1px solid black;
}

.banner {
  margin: 15px;
  padding: 10px;
  width: 800px;
  height: 175;
  background: gray;
}

.rightMenu {
  margin: 20px;
  padding: 20px;
  height: 300px;
  width: 100px;
  background: cyan;
  display: inline-block;
}

#gameBoard {
  margin: 15px;
  padding: 15px;
}
