/* heyMikeNauman  */
body {
  font-family: arial;
  background: gray;
}

h2 {
  color: black;
  /*(background-color: white;*/
  margin: 20px;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}

textarea {
  margin: 5px;
  margin-left: 20px;
  font-size: 26px;
  border-radius: 5px;
  height: 30px;
}

td {
  width: 40px;
  height: 40px;
  color: black;
  background: lightyellow;
  text-align: center;
  border: 1px solid black;
  border-width: 2px;
}

.cell {
  width: 40px;
  height: 40px;
  background: blue;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.banner {
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  width: 95%;
  height: 175;
  background-color: white;
}


#rightMenu {
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
  height: 420px;
  width: 30%;
  background: gray;
  display: inline-block;
}

#row1{
  border-radius: 5px;
  width: 95%;
  height: 525px;
  background-color: White;
  margin:10px;
  padding: 5px;
}


#readyButton, #nameButton {
  width: 75px;
  height: 40px;
  margin: 10px;
  margin-left: 20px;
  border-radius: 5px;
}

#gameBoard {
  margin: 15px;
  padding: 5px;
  display: inline-block;
}
