/* heyMikeNauman  */
body {
  background-color: blue;
}

h2 {
  color: yellow;
}

textarea {
  font-size: 26px;
}

td {
  width: 40px;
  height: 40px;
  color: black;
  background: lightyellow;
  text-align: center;
  /* only right and bottom so as not to double up on the borders per table cell */
  border: 1px solid black;
}

.banner {
  margin: 15px;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
  height: 175;
  background: gray;
}

.row1{
  border-radius: 5px;
  width: 99%;
  height: 525px;
  background: black;
}

.rightMenu {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  height: 300px;
  width: 100px;
  background: cyan;
  display: inline-block;
}

#gameBoard {
  margin: 15px;
  padding: 15px;
  display: inline-block;
}
